.searchField {
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.confirmButtonStyle {
  padding: 0.5rem 1.5rem;
  border: 0px none;
  margin-left: 1rem;
  background-color: #6b52b3;
  color: #ffff;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}
.confirmButtonStyle:hover {
  background-color: #554192;
  cursor: pointer;
}
.searchInputStyle {
  margin-left: 2rem;
  width: 25rem;
  border: 0.15rem solid rgb(45, 7, 63);
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .searchInputStyle {
    width: 12rem;
  }
  .searchField {
    margin-bottom: 2rem;
  }
}
