.images {
  width: 100%;
  height: 100%;
  padding: 2rem;
  object-fit: cover;
}

.frameLimits {
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}
.frame {
  margin: 2%;
  width: 300px;
  height: 300px;
  overflow: hidden;

  transition: width 1s, height 1s, transform 1s;
}
.frame:hover {
  transform: scale(1.5);
  z-index: 2;
  position: relative;
}
